.portfolioList {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}
.portfolioList:hover{
    background-color: var(--purple);
    color: white;
}
@media(max-width: 600px) {
    .portfolioList {
        margin-right: 10px;
    }
}
