.navigation_container{
    background: var(--dark-blue);
    color: var(--peach);
}
.navbar-light .navbar-nav .nav-link{
    color: var(--peach) !important;
}
.navbar-collapse{
    justify-content: flex-end;
    margin-right: 1rem;
    border-color: none;
}
.navbar-brand{
    margin-left: 1rem;
}
.navbar-light .navbar-brand{
    color: var(--peach) !important;
}
.navbar-light .navbar-toggler-icon{
    filter: invert(1);
}
.links{
    margin: 0 1rem;
}
.links a:hover{
    font-weight: 900;
}